/*** ===================================================================================== ***/
/*** GAGE DATA ***/
/*** ===================================================================================== ***/
#forecast {
    border-collapse: collapse;
    width: 100%;
	margin-bottom: 100px;
	font-size: 1.0em;
}
#forecast th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #444444;
    color: white;
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
	font-size: 1.0em;
}
#forecast td a {
	text-decoration: none;
}
#forecast th a {
	color: black;
	text-decoration: none;
}
#forecast td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}
#forecast td a:hover, #forecast th a:hover {
	text-decoration: underline;
}
#forecast tr:nth-child(even){
	background-color: #f2f2f2;
}
#forecast tr:hover {background-color: #ddd;}

hr {
	border: none; /* Remove any default border */
  	border-top: 1px solid #000; /* Set the top border to be 1 pixel thick and black */
}

/*** ===================================================================================== ***/
/*** GAGE DATA ***/
/*** ===================================================================================== ***/
#pool_instructions {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
    font-size: 1.0em;
}

#pool_instructions th {
    padding: 10px;
    text-align: center;
    background-color: darkblue;
    color: white;
    border: 1px solid #ddd;
    font-size: 1.0em;
}

#pool_instructions td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#pool_instructions td a,
#pool_instructions th a {
    color: black;
    text-decoration: none;
}

#pool_instructions td a:hover,
#pool_instructions th a:hover {
    text-decoration: underline;
}

#pool_instructions tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pool_instructions tr:hover {
    background-color: #ddd;
}

hr {
    border: none; /* Remove any default border */
    border-top: 1px solid #000; /* Set the top border to be 1 pixel thick and black */
    margin: 20px 0; /* Add margin for spacing */
}


/*** ===================================================================================== ***/
/*** ===== MISC ===== ***/
/*** ===================================================================================== ***/
.alert {
	padding: 15px;
	background-color: #f44336;
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Button Styles */
#sendEmailBtn {
	background-color: darkblue;
	/* blue */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	margin-top: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
}

#sendEmailBtn:hover {
	background-color: darkblue;
	/* Darker Green */
}

#enterNavPoolForecast {
	background-color: darkblue;
	/* blue */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	margin-top: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
}